<li class="nav-item d-flex align-items-center">
    <a href="javascript:;" class="nav-link text-white font-weight-bold px-0">
        <i class="fa fa-user me-sm-1"></i>
        <span class="d-sm-inline d-none">Sign In</span>
    </a>
</li>