<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<!-- SITE TITLE -->
	<title>Öz Geçmiş - CV</title>

	<!-- STYLESHEETS -->
	<link rel="stylesheet" href="~/ultra_profile/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/ultra_profile/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/ultra_profile/css/templatemo-style.css">
	<link href='~/ultra_profile/fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>
	<!--

	Ultra Profile

	https://templatemo.com/tm-464-ultra-profile

	-->
</head>