@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


@await Html.PartialAsync("HeaderPartial")


<body data-spy="scroll" data-target="#rock-navigation">
    <!-- START NAVIGATION -->
    @await Html.PartialAsync("NavbarPartial")
    <!-- END NAVIGATION -->
    <!-- START HOME -->
    @await Component.InvokeAsync("FeatureList")

    <!-- END HOME -->
    <!-- START work -->
    @await Component.InvokeAsync("ServiceList")

    <!-- END work -->
    <!-- START PORTFOLIO -->
    @await Component.InvokeAsync("PortfolioList")
    <!-- END PORTFOLIO -->
    <!-- START RESUME -->
    <section id="resume" class="tm-padding-top-bottom-100">
        <div class="container">
            <div class="row">

                @await Component.InvokeAsync("AboutList")

                @await Component.InvokeAsync("SkillList")

            
               
            </div>
        </div>
    </section>
    <!-- END RESUME -->
    <!-- START ABOUT -->
    @await Component.InvokeAsync("ExperiencesList")
    <!-- END ABOUT -->
    <!-- START SOCIAL -->
    @await Component.InvokeAsync("SocialMediaList")
    <!-- END SOCIAL -->
    <!-- START CONTACT -->
    @await Html.PartialAsync("/Views/Default/SendMessage.cshtml")

    <!-- END CONTACT -->
    <script src="~/ultra_profile/js/jquery.js"></script>
    <script src="~/ultra_profile/js/bootstrap.min.js"></script>
    <script src="~/ultra_profile/js/smoothscroll.js"></script>
    <script src="~/ultra_profile/js/jquery.nav.js"></script>
    <script src="~/ultra_profile/js/isotope.js"></script>
    <script src="~/ultra_profile/js/imagesloaded.min.js"></script>
    <script src="~/ultra_profile/js/custom.js"></script>
</body>




</html>