	<div class="navbar navbar-default bs-dos-nav navbar-fixed-top sticky-navigation" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target="#rock-navigation">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">Ben kimim ? </a>
			</div>
			<nav class="collapse navbar-collapse" id="rock-navigation">
				<ul class="nav navbar-nav navbar-right main-navigation text-uppercase">
					<li><a href="#home" class="smoothScroll">Hakkımda</a></li>
					<li><a href="#work" class="smoothScroll">Hizmetlerim</a></li>
					<li><a href="#portfolio" class="smoothScroll">Yeteneklerim</a></li>
					<li><a href="#resume" class="smoothScroll">Referanslarım</a></li>
					<li><a href="#about" class="smoothScroll">Deneyimlerim</a></li>
					<li><a href="#contact" class="smoothScroll">İletişim</a></li>
				</ul>
			</nav>

		</div>
	</div>