

<section id="contact" class="tm-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title">Drop <strong>me a line</strong></h2>
                <hr>
            </div>
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-10 col-sm-10">
                <form action="/Default/SendMessage" method="post">
                    <div class="col-md-6 col-sm-6">
                        <input class="form-control" type="text" placeholder="Your Name" name="Name">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <input class="form-control" type="email" placeholder="Your Email" name="Mail">
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <input class="form-control" type="text" placeholder="Your Subject" name="Subject">
                        <textarea class="form-control" placeholder="Your Message" rows="6" name="Content"></textarea>
                    </div>
                    <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                        <input class="form-control" type="submit" value="SHOOT MESSAGE">
                    </div>
                </form>
            </div>
            <div class="col-md-1 col-sm-1"></div>

        </div>
    </div>
</section>